altgraph==0.17.4
asgiref==3.11.1
certifi==2025.1.31
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.1
cloudinary==1.44.1
colorama==0.4.6
distlib==0.4.0
dj-database-url==3.1.0
Django==6.0.2
django-cloudinary-storage==0.3.0
emoji==2.15.0
filelock==3.20.3
gunicorn==25.1.0
idna==3.10
msgpack==1.1.2
numpy==2.4.2
packaging==25.0
pefile==2023.2.7
pillow==12.1.1
platformdirs==4.5.1
psutil==6.1.1
psycopg2-binary==2.9.11
pygame==2.6.1
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pywin32-ctypes==0.2.3
redis==7.1.1
requests==2.32.3
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.3.0
virtualenv==20.36.1
virtualenvwrapper-win==1.2.7
whitenoise==6.11.0
